*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    --white: #fcfcfc;
    --black: #242424;
    --accent: #1154e2;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: var(--white);
    color: var(--black);
}
p {
    font-size: 18px;
    line-height: 1.2em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.07em;
}
h2 {
    font-size: 36px;
}
header {
    position: relative;
    margin: auto;
}
.diagonal-bg {
    position: absolute;
    background-color: var(--accent);
    transform: skewY(-10deg);
    transform-origin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.wrapper {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-wrapper {
    position: relative;
    overflow: hidden;
    transform: scale(1.05);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    width: min(100% - 20px, 350px);
}
.image-wrapper h1 {
    position: absolute;
    bottom: 12px;
    font-size: 64px;
    font-weight: 500;
    width: 100%;
    color: var(--white);
    text-align: center;
}
.image-wrapper img{
    width: 100%;
    display: block;
}
.about-me {
    background-color: var(--white);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    padding: 14px 18px;
    width: min(80%, 700px);
}
.about-description {
    margin-top: 18px;
    margin-bottom: 18px;
}
.icons {
    width: 25px;
}
.social-icons {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 14px;
}


@media (min-width: 768px) and (max-width: 1024px) {
    
}
@media (max-width: 767px) {
    
}
