*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    --white: #fcfcfc;
    --black: #242424;
    --gray: #474747;
    --accent: #1154e2;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: var(--white);
    color: var(--black);
}
p {
    color: var(--gray);
    font-size: 18px;
    line-height: 1.2em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.07em;
    line-height: 0.9em;
}
h2 {
    font-size: 36px;
}
.wrapper {
    padding: 2em 10%;
}
/************************* HEADER *********************************/
header {
    background: linear-gradient(-10deg, var(--white) 40%, var(--accent) 10%);
}

header .wrapper {
    position: relative;
}
.about-me {
    background-color: var(--white);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    padding: 14px 18px;
    margin: 5% auto;
    width: 100%;
}
.image-wrapper {
    position: relative;
    float: left;
    margin-right: 1em;
    width: 350px;
    transform: translate(-18px, -50px);
}
.image-wrapper h1 {
    position: absolute;
    bottom: 5%;
    font-size: 64px;
    font-weight: 500;
    width: 100%;
    color: var(--white);
    text-align: center;
    text-shadow: 2px 2px var(--black);
}
.image-wrapper img{
    width: 100%;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    display: block;
}

.about-description {
    margin-top: 18px;
    margin-bottom: 18px;
}
.icons {
    width: 25px;
}
.social-icons {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 14px;
}
/************************* PROJECTS *********************************/
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2em;
}
.project-cards {
    background-color: var(--white);
    color: var(--black);
    min-height: 300px;
    padding: 14px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.project-image img{
    width: 100%;
}
.project-header {
    display: flex;
    justify-content: space-between;
}
/************************* FOOTER *********************************/


/************************* MEDIA QUERIES *********************************/
@media (min-width: 768px) and (max-width: 1100px) {
    .about-me {
        position: relative;
        margin: 15% auto 0;
    }
    .image-wrapper {
        width: 280px;
        height: 170px;
        margin-bottom: 1em;
        transform: translate(-70px, -100px);
    }
    .image-wrapper img{
        height: 270px;
        width: 350px;
        overflow: visible;
    }
    .image-wrapper h1 {
        word-wrap: normal;
        top: 12px;
        transform: translateX(100%);
    }
}
@media (max-width: 767px) {
   .about-me{
        display: flex;
        flex-direction: column;
        box-shadow: none;
        padding-top: 0;
   }
    .image-wrapper{
        width: 100%;
        margin: 0 0 1em;
        transform: none;
    }
}
